name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        openfoam-version:
          - 2406
          - 2312
          - 2306
          - 2212
          - 2206
          - 2112
          - 2106
          - 2012
          - 2006
          - 12
          - 11
          - 10
          - 9
          - 8
          - 7
        os:
          - ubuntu-24.04
          - ubuntu-22.04
          - ubuntu-20.04
          - macos-14
          - macos-13
          - macos-12
        exclude:
          - os: ubuntu-24.04
            openfoam-version: 2306
          - os: ubuntu-24.04
            openfoam-version: 2212
          - os: ubuntu-24.04
            openfoam-version: 2206
          - os: ubuntu-24.04
            openfoam-version: 2112
          - os: ubuntu-24.04
            openfoam-version: 2106
          - os: ubuntu-24.04
            openfoam-version: 2012
          - os: ubuntu-24.04
            openfoam-version: 2006
          - os: ubuntu-24.04
            openfoam-version: 10
          - os: ubuntu-24.04
            openfoam-version: 9
          - os: ubuntu-24.04
            openfoam-version: 8
          - os: ubuntu-24.04
            openfoam-version: 7
          - os: ubuntu-22.04
            openfoam-version: 8
          - os: ubuntu-22.04
            openfoam-version: 7
          - os: macos-14
            openfoam-version: 2106
          - os: macos-14
            openfoam-version: 2012
          - os: macos-14
            openfoam-version: 2006
          - os: macos-14
            openfoam-version: 12
          - os: macos-14
            openfoam-version: 11
          - os: macos-14
            openfoam-version: 10
          - os: macos-14
            openfoam-version: 9
          - os: macos-14
            openfoam-version: 8
          - os: macos-14
            openfoam-version: 7
          - os: macos-13
            openfoam-version: 2106
          - os: macos-13
            openfoam-version: 2012
          - os: macos-13
            openfoam-version: 2006
          - os: macos-13
            openfoam-version: 12
          - os: macos-13
            openfoam-version: 11
          - os: macos-13
            openfoam-version: 10
          - os: macos-13
            openfoam-version: 9
          - os: macos-13
            openfoam-version: 8
          - os: macos-13
            openfoam-version: 7
          - os: macos-12
            openfoam-version: 2106
          - os: macos-12
            openfoam-version: 2012
          - os: macos-12
            openfoam-version: 2006
          - os: macos-12
            openfoam-version: 12
          - os: macos-12
            openfoam-version: 11
          - os: macos-12
            openfoam-version: 10
          - os: macos-12
            openfoam-version: 9
          - os: macos-12
            openfoam-version: 8
          - os: macos-12
            openfoam-version: 7
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up OpenFOAM
      uses: ./
      with:
        openfoam-version: ${{ matrix.openfoam-version }}
    - name: Run icoFoam -help
      run: icoFoam -help
    - name: Test shell session
      if: matrix.openfoam-version >= 1000
      run: |
        openfoam -help
        openfoam${{ matrix.openfoam-version }} -help
    - name: Regression test
      run: source $WM_DIR/scripts/AllwmakeParseArguments
