name: Release

on:
  release:
    types: [published]

jobs:
  update-tags:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    if: ${{ github.event.release.prerelease == false }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Update major and minor version tags
        uses: sersoft-gmbh/running-release-tags-action@v3
        with:
          create-release: false
